body {
  font-family: 'human_sansextralight', Helvetic, sans-serif;
  font-weight: 400;
  color: #6c7279;
  padding-top: 1px;
  font-size: 16px;
}

/* color : yellow:#ffcc00 dark gray:#666666 pale blue:#99ccff light gray:#cccccc */

/* -----------------------------------------------------------------
   Typography
-----------------------------------------------------------------*/

p {
  font-size: 16px;
  line-height: 22.4px;
  font-family: 'human_sanslight', Helvetic, sans-serif;

}

h1 {
  font-size: 64px;
}

h2 {
  font-family: 'human_sansbold', Helvetic, sans-serif;
  font-size: 40px;
}

h3 {
  font-size: 28px;
  font-weight: 300;
  font-family: 'human_sansregular', Helvetic, sans-serif;
}

h4 {
  font-size: 22px;
  font-weight: 400;
  font-family: 'human_sansregular', Helvetic, sans-serif;
}

h5 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'human_sansregular', Helvetic, sans-serif;
}

h6 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'human_sansregular', Helvetic, sans-serif;

}

.btn {
  background-color: #333;
  margin-top: 40px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0px;
  padding: 3% 7%;
  display: inline-block;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  background-color: #000;
  color: #fff;
}

.btn-large {
  padding: 15px 40px;
}


/* --------------------------------------------------------------------
   For position
--------------------------------------------------------------------*/
.bottom_space-sm{
  padding-bottom: 15px;
}

.bottom_space-md{
  padding-bottom: 30px;
}

.bottom_space-lg{
  padding-bottom: 48px;
}

/* --------------------------------------------------------------------
   General Style
--------------------------------------------------------------------*/

a {
  color: #000000;
}

a:hover,
a:focus {
  text-decoration: none;
  -moz-transition: background-color, color, 0.3s;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.section {
  padding: 100px 0;
}

.smallSection {
  padding: 0 3%;
}

.no_pad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.full_section {
  padding: 0 8%;
}

.title_underline {
  margin-bottom: -5px;
  margin-top: -2px;
}

.title_underline hr{
  width: 56px;
  margin-left: 0;
  border-top: 2px solid #f3b00e;
}



/* ------------------------------------------------------------------------------
   Footer
   
-------------------------------------------------------------------------------*/

.footer {
  width: 100%;
  margin: auto;
  text-align: left;
  background-color: rgb(84, 84, 84);
  padding: 5% 8% 0 5%;
  color: #fff;
}

.list_group {
  border-bottom: 1px solid #fff;
  clear: right;
}

.block {
  min-height: 150px;
}

.block li {
  display: block;
  font-size: 16px;
}

.footer h4 {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px white solid;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  text-decoration: none;
}

.footer-share {
  min-height: 180px;
}

.footer-share a {
  color: #000;
}

.footer-share li {
  display: inline-block;
  margin: 2px;
  float: none;
}

.footer-share a {
  border: none;
  font-size: 28px;
  letter-spacing: 15px;
}


/* to make the icon center */
.footer-share .fa-stack-1x {
  left: 3px;
  color: #545454;
}


.copyright_group {
  padding-top: 1%;
  padding-bottom: 1%;
  min-height: 50px;
}

.copyright_group .fa-heart {
  color: #e84545;
  font-size: 11px;
  margin: 0 2px;
}

.lang_group {
  color: #000;
  text-align: right;
}


/* for the language style */

.select-style {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #545454;
  color: #fff;
  position: relative;
  width: 200px;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

.select-style .glyphicon {
  position: absolute;
  right: 5px;
}

.select-style .top {
  top: 1px;
}

.select-style .bottom {
  top: 12px;
}


/*------------------------------------------------------------------------------
   Work Detial 
-------------------------------------------------------------------------------*/

.work-detail {
  width: 94%;
  margin: auto;
}

.work-detail-margin {
  margin-top: 7%;
}

.detail-image img {
  width: 100%;
}

.detail-contentbox {
  background-color: #f2f2f2;
  padding: 3%;
}

.detail-content h4 {
  font-size: 27px;
  line-height: 27px;
  letter-spacing: 1px;
  font-weight: 300;
}

.detail-content p {
  color: #6c7279;
  font-size: 13px;
  font-weight: 400;
  margin-top: 7%;
}


/* ==== clearfix ======== */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}


/* IE6 */

*:first-child+html .clearfix {
  zoom: 1;
}


/* IE7 */



/* mobile settings */

